* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
}

.container {
  width: 360px;
  height: 640px;
  background-color: #fff;
  overflow-y: scroll; /* Enable vertical scrolling */
 /* Add border here */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.header {
  position: relative;
  text-align: center;
}

.header-bg {
  width: 100%;
  height: auto;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #343a40;
}

.header h1 {
  font-size: 40px;
  font-weight: bold;
}

.welcome-message {
  font-size: 15px;
  text-align: right;
}

.content {
  text-align: center;
  padding: 20px;
  margin-top: -10px;
}

.content p {
  font-size: 15px;
  color: #343a40;
  margin-bottom: 20px;
}

.search-bar {
  position: relative;
  margin-bottom: 20px;
}

.search-bar input {
  width: calc(100% - 40px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  opacity: 0.6;
}

.search-bar button {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: 30px;
}

#bento-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
}

.bento-item {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  transition: transform 0.2s;
  cursor: pointer;
}

.bento-item:hover {
  transform: scale(1.05);
}
