* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
}

#Android_Mobile__13 {
  width: 360px;
  height: 640px;
  background-color: #fff;
  overflow-y: scroll; /* Enable vertical scrolling */
  border: 2px solid #757575; /* Add border */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  position: relative; /* Ensure contained positioning for child elements */
}

#Android_Mobile__13::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#Mask_Group_2 {
  width: 100%;
  height: auto;
}

#Mask_Group_2 img {
  width: 100%;
  height: auto;
}

.header-content {
  width: 100%;
  text-align: center;
  color: #343a40;
}

#Category {
  margin-top: -120px;
  margin-left: -150px; /* Adjust the margin to position within the container */
  font-weight: bold;
  font-size: 28px;
  color: rgba(52, 58, 64, 1);
}

#Welcome_Employee_Name {
  font-size: 15px;
  color: rgba(52, 58, 64, 1);
  text-align: right;
  padding: 10px 20px 0 0;
  margin-top: -50px; /* Adjust padding to position within the container */
}

#category-container {
  padding: 10px;
  margin-top: 80px; /* Adjust based on header height */
  text-align: center;
}

.category-item {
  background-color: rgba(242, 242, 242, 1);
  width: 255px;
  height: 35px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer; /* Change cursor to pointer */
}

#Title_of_the_list, #Title_of_the_list_ {
  font-size: 20px;
  font-weight: bold;
  color: rgba(52, 58, 64, 1);
  margin: 20px 0 10px 20px;
}
